@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    font-family: 'Gluten', cursive;
}
nav{
    background-color: purple;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
}
nav li{
    list-style: none;
    padding: 23px;
    font-size: 1.8rem;
}

.gameContainer{
   /* background-color: yellow;  */
   display: flex;
   /* justify-content: center; */
   margin-top: 50px;
   justify-content:space-evenly;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-right: 0;
    border-bottom: 0;
    font-size: 7vw;
}
.box:hover{
    background-color: rgba(202, 73, 202, 0.199);
    cursor: pointer;
}

.gameInfo{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-inline: 40px; 
}
.info{
    font-size: 1.4rem;
    padding-block: 10px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}
#reset{
    width: 40%;
    margin-inline: auto;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: purple;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    box-shadow: 0px 3px 2px  black;
    transform: translateY(0);
    transition: transform 0.2s, box-shadow 0.2s;
    
}
#reset:hover{
    transform: translateY(-2px);
    box-shadow: 0px 5px 2px  #000;
}
#reset:active{
    transform: translateY(0);
    box-shadow: none;
}

.bl-0{    
    border-left: 0;
}
.bt-0{    
    border-top: 0;
}


.line{
    position: absolute;
    width: 0vw;
    height:9px;
    border-radius: 15px;
    transform: translate(0vw,0vw) rotate(0deg);
    background-color: rgb(146, 39, 146);
    transition: width 0.6s ease-in-out;
}

footer {
    background-color: purple;
    color: white;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: px; */
    padding: 3px;
    text-align: center;
    font-size: 1.5rem;
}
@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }   
    .gameInfo{
        margin-block: 20vw;
    }
    .gameInfo{
        font-size: 0.75rem;
    }
    .box{
        font-size: 20vw;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}